/* =============
    Index
============= */

#index-left{

    // love // hate
    a:link, a:visited{
        color:var(--orange);
        text-decoration: none;

    }

a:hover, a:active{
    color:var(--white);

}
}
#main-content-right{
    img{
        width:100%
    }
}