/* =============
    Typography
============= */
h1, h2, h3, h4, h5{
    padding: 16px;
    margin: 16px;
}

p{
    padding: 16px;
    margin: 16px;
}

ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}
